$main-font: 'Inter', sans-serif;
$blue: #2945FF;
$text-color: #393F4D;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h2 {
  font-size: 51px;
  line-height: 1.1;
}

h3 {
  font-size: 34px;
}

p {
  letter-spacing: -0.3px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.button {
  font-weight: 600;
  font-size: 18px;
  padding: 20px 62px;
  border-radius: 100px;
  border: 1px solid $blue;
  text-decoration: none;
}

.more-link {
  font-weight: 600;
  font-size: 16px;
  color: $blue;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;


  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 2px;
    background: $blue;
    content: '';
    transition: all .3s ease;
  }

  &:hover, &:focus {
    &::before {
      width: 100%;
      transition: all .3s ease;
    }
  }
}

.image-decor {
  position: relative;
  padding: 35px 0 0 55px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url("../images/dots.svg");
    z-index: -1;
  }
}

.section-header {
  .section-name {
    font-size: 24px;
    color: $blue;
    font-weight: 600;
    padding-bottom: 25px;
  }

  .section-title {
    max-width: 400px;
  }
}

// REVIEWS
.reviews {
  padding: 130px 0 100px;
  position: relative;
  background-color: #FFF9EF;

  &::before {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    background-color: $white;
    content: '';
  }

  .reviews__slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 70px;
    margin-left: 10.5%;

    .reviews__slider-item-wrap {
      padding: 0 16px;
    }

    .reviews__slider-item {
      background: $white;
      padding: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 12px;
      border: 1px solid rgba(219, 179, 120, 0.4);

      .reviews__slider-item-img {
        height: 92px;
        width: 95px;
        border-radius: 100%;
        position: relative;
        margin-bottom: 25px;

        img {
          position: absolute;
          object-fit: cover;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .reviews__slider-item-title {
        margin-bottom: 10px;
      }

      .reviews__slider-item-subtitle {
        color: $blue;
        font-size: 18px;
        margin-bottom: 15px;
      }

      .reviews__slider-item-text {
        text-align: center;
        font-size: 13px;
        font-style: italic;
        font-weight: 300;
        max-width: 350px;
        margin-bottom: 25px;
        line-height: 2;
      }
    }
  }
}

//NEWS
.news {
  background-color: $white;
  padding: 45px 0;

  .news__header {
    text-align: center;

    h3 {
      margin-bottom: 20px;
    }

    .news__header-text {
      max-width: 710px;
      margin: 0 auto;
      line-height: 1.8;
      font-size: 18px;
    }
  }

  .news__content {
    padding-top: 80px;
    display: flex;

    .news__content-image {
      flex: 0 0 50%;
    }

    .news__content-accordions {
      flex: 0 0 50%;
    }
  }
}

//ACCORDIONS
.accordions {
  padding-top: 30px;
  padding-left: 10px;

  .accordion {
    padding: 35px 0;
    max-width: 430px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background: #E2E2E2;
      width: 100%;
      height: 1px;
      bottom: 0;
    }

    &:first-child::after {
      position: absolute;
      content: '';
      background: #E2E2E2;
      width: 100%;
      height: 1px;
      top: 0;
    }

    .accordion__title {
      padding-left: 70px;
      position: relative;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;

      &::before {
        position: absolute;
        left: 0;
        content: '';
        background: url("../images/Union.svg");
        width: 48px;
        height: 48px;
        background-color: $blue;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $blue;
        top: 5px;
      }
    }

    .accordion__content {
      padding-top: 20px;
      height: 0;
      transition: all .3s ease;
      display: none;
      padding-left: 70px;

      p {
        margin-bottom: 20px;
        line-height: 1.5;
      }
    }
  }

  .accordion.active {
    .accordion__title::before {
      border: 1px solid #DBDBDB;
      content: '';
      background: url("../images/minus.svg");
      background-color: $white;
      background-position: center;
      background-repeat: no-repeat;
    }

    .accordion__content {
      height: 100%;
      display: block;
    }
  }

}

//STATS
.stats {
  padding: 150px 0 100px;
  background-color: #f4f5ff;
  position: relative;

  &::before {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    background-color: $white;
    width: 100%;
    height: 90px;
  }

  .stats__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

    .stats__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;

      .stats__item-num {
        padding-top: 20px;
        font-size: 70px;
        font-weight: bold;
        line-height: 1;

        sup {
          font-size: 35px;
        }
      }

      .stats__item-title {
        color: $blue;
        font-weight: bold;
      }
    }
  }

}