* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h2 {
  font-size: 51px;
  line-height: 1.1;
}

h3 {
  font-size: 34px;
}

p {
  letter-spacing: -0.3px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.button {
  font-weight: 600;
  font-size: 18px;
  padding: 20px 62px;
  border-radius: 100px;
  border: 1px solid #2945FF;
  text-decoration: none;
}

.more-link {
  font-weight: 600;
  font-size: 16px;
  color: #2945FF;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}
.more-link::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
  background: #2945FF;
  content: "";
  transition: all 0.3s ease;
}
.more-link:hover::before, .more-link:focus::before {
  width: 100%;
  transition: all 0.3s ease;
}

.image-decor {
  position: relative;
  padding: 35px 0 0 55px;
}
.image-decor::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../images/dots.svg");
  z-index: -1;
}

.section-header .section-name {
  font-size: 24px;
  color: #2945FF;
  font-weight: 600;
  padding-bottom: 25px;
}
.section-header .section-title {
  max-width: 400px;
}

.reviews {
  padding: 130px 0 100px;
  position: relative;
  background-color: #FFF9EF;
}
.reviews::before {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  background-color: #fff;
  content: "";
}
.reviews .reviews__slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-top: 70px;
  margin-left: 10.5%;
}
.reviews .reviews__slider .reviews__slider-item-wrap {
  padding: 0 16px;
}
.reviews .reviews__slider .reviews__slider-item {
  background: #fff;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid rgba(219, 179, 120, 0.4);
}
.reviews .reviews__slider .reviews__slider-item .reviews__slider-item-img {
  height: 92px;
  width: 95px;
  border-radius: 100%;
  position: relative;
  margin-bottom: 25px;
}
.reviews .reviews__slider .reviews__slider-item .reviews__slider-item-img img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.reviews .reviews__slider .reviews__slider-item .reviews__slider-item-title {
  margin-bottom: 10px;
}
.reviews .reviews__slider .reviews__slider-item .reviews__slider-item-subtitle {
  color: #2945FF;
  font-size: 18px;
  margin-bottom: 15px;
}
.reviews .reviews__slider .reviews__slider-item .reviews__slider-item-text {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  max-width: 350px;
  margin-bottom: 25px;
  line-height: 2;
}

.news {
  background-color: #fff;
  padding: 45px 0;
}
.news .news__header {
  text-align: center;
}
.news .news__header h3 {
  margin-bottom: 20px;
}
.news .news__header .news__header-text {
  max-width: 710px;
  margin: 0 auto;
  line-height: 1.8;
  font-size: 18px;
}
.news .news__content {
  padding-top: 80px;
  display: flex;
}
.news .news__content .news__content-image {
  flex: 0 0 50%;
}
.news .news__content .news__content-accordions {
  flex: 0 0 50%;
}

.accordions {
  padding-top: 30px;
  padding-left: 10px;
}
.accordions .accordion {
  padding: 35px 0;
  max-width: 430px;
  position: relative;
}
.accordions .accordion::before {
  position: absolute;
  content: "";
  background: #E2E2E2;
  width: 100%;
  height: 1px;
  bottom: 0;
}
.accordions .accordion:first-child::after {
  position: absolute;
  content: "";
  background: #E2E2E2;
  width: 100%;
  height: 1px;
  top: 0;
}
.accordions .accordion .accordion__title {
  padding-left: 70px;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}
.accordions .accordion .accordion__title::before {
  position: absolute;
  left: 0;
  content: "";
  background: url("../images/Union.svg");
  width: 48px;
  height: 48px;
  background-color: #2945FF;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2945FF;
  top: 5px;
}
.accordions .accordion .accordion__content {
  padding-top: 20px;
  height: 0;
  transition: all 0.3s ease;
  display: none;
  padding-left: 70px;
}
.accordions .accordion .accordion__content p {
  margin-bottom: 20px;
  line-height: 1.5;
}
.accordions .accordion.active .accordion__title::before {
  border: 1px solid #DBDBDB;
  content: "";
  background: url("../images/minus.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}
.accordions .accordion.active .accordion__content {
  height: 100%;
  display: block;
}

.stats {
  padding: 150px 0 100px;
  background-color: #f4f5ff;
  position: relative;
}
.stats::before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  background-color: #fff;
  width: 100%;
  height: 90px;
}
.stats .stats__inner {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.stats .stats__inner .stats__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.stats .stats__inner .stats__item .stats__item-num {
  padding-top: 20px;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
}
.stats .stats__inner .stats__item .stats__item-num sup {
  font-size: 35px;
}
.stats .stats__inner .stats__item .stats__item-title {
  color: #2945FF;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
